<html>
	<head>
		<script type="text/javascript" src="chrome-extension://bfbmjmiodbnnpllbbbfblcplfjjepjdn/js/injected.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://www.caigoumi.com/js/extension.js"></script>
	</head>
	<body>
	<h1>testupload</h1>
		test
		<form id="thumbnail_form" class="up-form" method="post" enctype="multipart/form-data" target="up" action="/Application/imageThumbnail">
<table class="tableForm">  
            <tbody>  
                <tr>  
                <td>
                	<input id="thumbnail_up" style="filter: alpha(opacity=0);" class="up-image-file" type="file" name="upfile" accept="image/gif,image/jpeg,image/png,image/jpg,image/bmp"></input>
                </td>
                <td style="width:30%;">
                	<button class="button" id="buttonUpload" onclick="return ajaxFileUpload();">Upload</button>
                	<span style="display:none;" id="loading_msg"><img src="/public/img/ajax-loader.gif" style=""/>&nbsp;正在上传，请等待...</span>
                </td>
                </tr> 
            </tbody>  
        </table>
</form>
	</body>
</html>